* {
    box-sizing: border-box;
}

body  {
    margin: 0;
    background-color: #ffecc5;
}

.body {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0;
}

.logo {
    width: 200px;
    height: 115px;
    margin: 0 auto;
    display: block;
}

.nav {
    background-color: #f2a100;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-size: 30px;
}

.nav li.active {
    background-color: #f3c01a;
}

.nav li:hover {
    background-color: #f7d566;
}

.card {
    box-sizing: border-box;
    max-width: 50%;
    margin: 0;
}

.card-header {
    height: 50px; /* Adjust as needed */
}

.card-img{
    height: 300px; /* Adjust as needed */
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 100%;
    }
    
    .card-header {
        height: 50px; /* Adjust as needed */
    }
    
    .card-img{
        height: 300px; /* Adjust as needed */
        object-fit: cover;
    }
    
}